:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #c9eb34;
  --main-color-p-2: #9fba27;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #c9eb34;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c9eb34;
  padding: 10px 20px;
}

.navbar button {
  height: 100%;
}

.navbar a,
button {
  margin: 0 4px;
  border-radius: 25px;
  color: white;
  background-color: #575757;
  border: none;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 1em;

}

.navbar a:hover,
button:hover {
  background-color: #000;
  color: var(--main-color);
  cursor: pointer;
}

.navbar .brand {
  font-size: 1.5em;
  font-weight: bold;
  background-color: transparent;
  color: var(--foreground);
}

.navbar .brand:hover {
  color: var(--background);
  background-color: transparent;
}

.navbar .links {
  display: flex;
}


/* Jobs Styles */
.job-card {
  display: flex;
  min-height: 240px;
  min-width: 340px;
  max-width: 340px;
  flex-direction: column;
  border: 2px solid var(--main-color);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 12px;
}

.job-card-description {
  margin: 0.2rem 0;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: #888;
  font-size: 0.8rem;
  line-height: 1rem;
  min-height: 3.1rem;
  text-align: justify;
  overflow: hidden;
}

.job-card-span {
  background-color: #44444407;
  color: #fff;
  margin: 0px;
  padding: 0.1rem 0.6rem;
  border-radius: 24px;
  font-weight: bold;
  text-align: center;
}

.job-card-span-small {
  background-color: #666;
  color: #fff;
  margin: 0px;
  margin-bottom: 0.1rem;
  padding: 0 0.4rem;
  border-radius: 24px;
  font-size: 0.8em;
  font-weight: lighter;
  text-align: center;
  max-height: 1rem;
}

.btn-job-card{
  border-radius: 24px;
  margin: 0.2rem;
  margin-top: 0.4rem;
  padding: 0.4rem 2rem;
  color: #d63a29;
  border: 2px solid #d63a29;
  background-color: transparent;
}

.btn-job-card.edit {
  background-color: #fff;
  color: #edb31f;
  border: 2px solid #edb31f;

}

.btn-job-card.edit:hover{
  background-color: #edb31f;
  color: #fff;
  border: 2px solid #edb31f;

}

.btn-job-card.remove:hover {
  background-color: #d63a29;
  color: #fff;
  border: 2px solid #d63a29;

}